node_modules
**/.vscode
*.log
package/*/dist/
code/api/dist/
code/api/src/*.d.ts
code/api/src/*.js
code/gen/src/*.js
code/gen/src/*.d.ts
code/gen/dist/
code/common/dist/
**/index.d.ts
**/index.js
**/index.js.map
