node_modules
**/.vscode
*.log
package/*/dist/
code/api/dist/
code/api/src/*.d.ts
code/api/src/*.js
code/gen/src/*.js
code/gen/src/*.d.ts
code/gen/dist/
code/common/dist/
packages-*/**/index.d.ts
packages-*/**/index.js
packages-*/**/index.js.map
kimsufi-*/**/index.d.ts
kimsufi-*/**/index.js
kimsufi-*/**/index.js.map
soyoustart-*/**/index.d.ts
soyoustart-*/**/index.js
soyoustart-*/**/index.js.map
tokenTest.json
code/gen/src/*.js.map
code/gen/*.js.map
code/gen/*.js
samples/*/*.d.ts
samples/*/*.map
samples/*/*.js
samples/*/dist/
**/token.json
code/common/*.d.ts
code/common/*.js
*Token*.json
*token*.json
samples/ovh-delete-service/*.txt
samples/ovh-delete-service/src/*.map
samples/ovh-delete-service/src/*.d.ts
samples/ovh-delete-service/src/*.js
*/*/.cache/
**/*pnpm-lock.yaml
code/gen/models/**/*.js
code/gen/models/**/*.map
code/gen/models/**/*.d.ts

