node_modules
**/.vscode
*.log
package/*/dist/
code/api/dist/
code/api/src/*.d.ts
code/api/src/*.js
code/gen/src/*.js
code/gen/src/*.d.ts
code/gen/dist/
code/common/dist/
packages/**/index.d.ts
packages/**/index.js
packages/**/index.js.map
tokenTest.json
code/gen/src/*.js.map
code/gen/*.js.map
code/gen/*.js
samples/*/*.d.ts
samples/*/*.map
samples/*/*.js
samples/*/dist/
**/token.json
code/common/*.d.ts
code/common/*.js
packages/*/package-lock.json
*Token*.json
*token*.json
samples/ovh-delete-service/delete.txt
samples/ovh-delete-service/src/*.map
samples/ovh-delete-service/src/*.d.ts
samples/ovh-delete-service/src/*.js
